<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pcwk.ehr.mapper.CommentMapper">

<insert id="doSave" parameterType="com.pcwk.ehr.comment.domain.CommentVO">

<selectKey keyProperty="commentId" resultType="java.lang.Integer" order="BEFORE">
		SELECT seq_board_comment.NEXTVAL FROM DUAL
</selectKey>
	INSERT INTO board_comment (
		comment_id,
		member_id,
		target_type,
		target_id,
		content,
		reg_dt
			) VALUES ( #{commentId},
				       #{memberId},
				       #{targetType},
				       #{targetId},
				       #{content},
				         SYSDATE)
				              
</insert>				         
				             
<select id="doRetrieve"
	parameterType="com.pcwk.ehr.comment.domain.CommentVO"
	resultType="com.pcwk.ehr.comment.domain.CommentVO">
	SELECT
		c.comment_id,
		c.member_id,
		m.nickname,
		c.target_type,
		c.target_id,
		c.content,
		c.reg_dt,
		c.mod_dt
	FROM board_comment c
	INNER JOIN member m ON c.member_id = m.member_id
	WHERE c.target_type = #{targetType}
	  AND c.target_id   = #{targetId}
	ORDER BY c.comment_id DESC
</select>

<select id="countByTarget"
	parameterType="com.pcwk.ehr.comment.domain.CommentVO"
	resultType="java.lang.Integer">
	SELECT COUNT(*)
	FROM board_comment
	WHERE target_type = #{targetType}
	  AND target_id   = #{targetId}
</select>

<select id="doSelectOne" parameterType="com.pcwk.ehr.comment.domain.CommentVO"
	resultType="com.pcwk.ehr.comment.domain.CommentVO">
	SELECT
		c.comment_id,
		c.member_id,
		m.nickname,
		c.target_type,
		c.target_id,
		c.content,
		c.reg_dt,
		c.mod_dt
	FROM board_comment c
	INNER JOIN member m ON c.member_id = m.member_id
	WHERE c.comment_id = #{commentId}
	  AND c.member_id  = #{memberId}
</select>

<update id="doUpdate" parameterType="com.pcwk.ehr.comment.domain.CommentVO">
	UPDATE board_comment
	   SET content = #{content},
	       mod_dt  = SYSDATE
	 WHERE comment_id = #{commentId}
	   AND member_id  = #{memberId}
</update>

<delete id="doDelete" parameterType="com.pcwk.ehr.comment.domain.CommentVO">
	DELETE FROM board_comment
	WHERE comment_id = #{commentId}
	  AND member_id  = #{memberId}
</delete>

<delete id="deleteByTarget" parameterType="com.pcwk.ehr.comment.domain.CommentVO">
	DELETE FROM board_comment
	WHERE target_type = #{targetType}
	  AND target_id   = #{targetId}
</delete>

<!-- 테스트용 배포전에 삭제 ㄱㄱ -->
<delete id="deleteAll">
	DELETE FROM board_comment
</delete>

</mapper>
